[submodule "classifier/cnn"]
	path = classifier/cnn
	url = https://github.com/galsang/CNN-sentence-classification-pytorch
[submodule "classifier/cnn-clf"]
	path = classifier/cnn-clf
	url = https://github.com/siddsach/CNN-sentence-classification-pytorch
